# -*- coding: utf-8 -*-
##############################################################################
# Author: @SVAKSHA, 2014-Nov-11 06:04:20 AM IST 
##############################################################################

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore

#====================================================
# GENERAL
#====================================================
tags
LaptopSetup/
saturday.py
zen.md


#====================================================
# USE GLOB SYNTAX
#====================================================
syntax: glob
*.elc
*~


#====================================================
# IPYTHON Notebooks
#====================================================
.ipynb_checkpoints/*



